.teacher-view{
	background-color: #fff;
	padding-top: 50px;
	padding-right: 30px;
	padding-left: 30px;
}

.mdi-action-grade{
	color: #FFDE78;
}

.mdi-action-grade.off{
	color: #CFCFCF;
}

.resources{
	max-height: 700px;
	overflow: auto;
}