

/*The container that holds the dropdown items*/
.mcs-container{
    	width:100%;
	    overflow:hidden;
        background:#F6F4F1;
        box-sizing: border-box;
        display:none;
        position: relative;
        padding:10px;
        clear:both;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/*The menu items (options)*/
.mcs-open,
.mcs-item{
	box-sizing: border-box;
	background:#293b47;
	color:#FFF;    
	text-decoration: none;
	width:24%;
	float:left;
	height: 50px;
	line-height: 50px;
	text-align: center;
        border:1px solid #111;
        
}

.mcs-open{
    border: 0;
        text-align: left;
        padding: 0 10px 0 40px;
	width:100%;
        margin-top:20px;
}

.mcs-open.open{
    background: #26A69A;
    color:#111;
}
.mcs-open.open:hover{
    background:#00ada9;
    color:#FFF;
}

.mcs-item.active{
    background: #26A69A;
    color: #FFF;
    border: 1px solid #26A69A;
}

input[type=submit]{
    border:0;
    display: block;
    width:100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #00ada9;
    color: #FFF;
    clear:both;

    
}

.mcs-item:hover,
.mcs-open:hover{
    background:#00ada9;
    cursor:pointer;
    border: 1px solid #26A69A;
}
input[type=submit]:hover{
cursor:pointer;
background:#293b47;
}

/*Hide Select Form Control*/
.hidden{
	visibility: hidden;
	height: 0px;
	width:0px;
	position:absolute;
}

/*Clear class used to push float- can just point to an exsisting clear class*/
.clear{
	display:block;
	clear:both;
}


.wrapper{
    width:580px;
    padding:20px;
    margin: 0 auto;
    text-align: center;
}

header h1{
    font-size:3em;
    color:#ffffff;
    font-family: 'Ubuntu Condensed', sans-serif;
}
h2{
       font-size:2em;
    color:#ffffff;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.mcs-open{
        font-family: 'Ubuntu Condensed', sans-serif;
        font-size:1em;
}           
.mcs-item {
  margin-bottom: 3px;
  margin-left: 1px;
}
.mcs-item.active{
    text-shadow: 0 0 0 #FFF;
}
.mcs-item.active:hover{
    background: #00BFA5;
    text-shadow: 0 0 0 #FFF;
    border: 1px solid #26A69A;
}

input[type=submit]{
        font-family: 'Ubuntu Condensed', sans-serif;
        font-size:1em;
}
